.ant-btn.stop-button .anticon {
  margin: 0 0px 3px 0px;
}
.ant-input-number {
  width: 100%;
}

.assign-e .anticon {
  color: #1890ff;
}

.anticon {
  margin: -2px 0px 0 0px;
}

.ant-card-body {
  padding: 0px !important;
}
