.page-err {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 3rem 1rem;

  .err-container {
    padding: 1rem 0.625rem;
  }

  .err-code-container {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    padding: 28px;
    margin: 0 auto 1.5rem;

    .err-code {
      width: 220px;
      height: 220px;
      border-radius: 50%;
    }

    h1 {
      font-size: 5.625rem;
      line-height: 220px;
    }
  }

  h2 {
    font-size: 1.875rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }
}
